{% extends 'shared/base.html' %}

{% block content %}
    <h1>All {{ category }} Recipes</h1>
    <div class="home-page-section">
        <div class="home-page-container container">
            {% for recipe in recipe_list %}
                <div class="recipe-card">
                    <img class="recipe-image" src="{{ recipe.image.url }}" alt="">
                    <h2 class="recipe-title">{{ recipe.name }}</h2>
                    <p><a href="{% url 'recipe-details' recipe.id %}">See details</a></p>
                </div>
            {% endfor %}
        </div>
        <div class="m-2" align="center">
            <a class="btn btn-primary" href="javascript:history.back()">Go back</a>
        </div>
    </div>
{% endblock %}