{% extends 'shared/base.html' %}

{% block content %}

    <div class="recipe-card container">
        <h2> {{ recipe.name }} </h2>
        <p><img src="{{ recipe.image.url }}" class="recipe-image" alt="..."></p>
        <h3><u>Ingredients:</u></h3>
        <div>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
        <h3><u>Instructions:</u></h3>
        <p>{{ recipe.instructions }}</p>
        <h4>Recipe by: <a href="{% url 'profile-details' recipe.user.id %}"><u>{{ recipe.user.email }}</u></a></h4>

    </div>

    <hr>
    {% if is_owner %}
        <p><a href="{% url 'recipe-edit' recipe.id %}" class="btn">Edit Recipe</a>
            <a href="{% url 'recipe-delete' recipe.id %}" class="btn delete-btn">Delete Recipe</a></p>
    {% endif %}
    <div align="center">
        <p><a href="javascript:history.back()" class="btn back-btn">Go back</a></p>
    </div>
{% endblock %}