{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

<h1 class="text-center">Sign In</h1>
<div class="container">
    <div align="center">
        <form action="{% url 'sign-in' %}" method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Sign in</button>
            <div>
                <span>Don't have an account? <a href="{% url 'sign-up' %}" style="color:orange">Sign up here.</a></span>
            </div>
        </form>
    </div>
</div>
